{% extends "base.html" %}

{% block content %}

<div class="container">

    {% if now_playing %}
    <div class="now-playing">
        <h2>Currently Playing:</h2>
        <div class="now-playing-content">
            <div class="now-playing-image">
                <img src="{{ now_playing.image }}" alt="{{ now_playing.track_name }}" class="track-image-small">
            </div>
            <div class="now-playing-info">
                <p><strong>{{ now_playing.track_name }}</strong> - {{ now_playing.artists }}</p>
                


                <p>Progress: {{ now_playing.progress_ms }} / {{ now_playing.duration_ms }} %</p>
            </div>
        </div>
    </div>
    {% endif %}

    <h1>Recently Played Tracks</h1>

    <div class="grid">
        {% for item in items %}
        <div class="grid-item" title="Played at: {{ item.played_at }}">
            {% if item.image %}
                <img src="{{ item.image }}" alt="{{ item.name }}" class="track-image">
            {% endif %}
            <p>{{ loop.index }}. <strong>{{ item.name }}</strong>{% if item.artist %} - {{ item.artist }}{% endif %}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
